@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');
:root {
	--primary: #9119E7;
	--secondary: #FFFFFF;
	--tertiary: #E6C3FF;
	--quaternary: #252525;
	--placeholder: #757575;
}
* {
	font-family: "Oxanium", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}